<template>
    <div :key="iteration">
        <swap-group
            :title = "title"
            >
            <div v-for="(field,key) in fields" :key="key" class="">
                <swap-card
                    :index = "key"
                    :count = "fields.length"
                    :title = "field.title"
                >
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Картинка</label>
                                <upload-image
                                        url="/admin/save/fieldimage"
                                        :name="prefix+'['+key+'][image]'"
                                        :value="field.image ? field.image : ''"
                                        v-on:change-image="fields[key].image = $event"
                                    >
                                </upload-image>
                            </div>
                        </div>
                        <div class="col-md-9" >
                            <div class="form-group form-element-image">
                                <label :for="hash+'_title_'+key" class="control-label">Заговок</label>
                                <input type="text"
                                    class="form-control"
                                    v-model="field.title"
                                    :name="prefix+'['+key+'][title]'"
                                    :id="hash+'_title_'+key"
                                >
                            </div>
                            <div class="form-group form-element-image">
                                <label :for="hash+'_description_'+key" class="control-label">Описание</label>
                                <small class="text-muted">Каждый пункт с новой строки. Подсказка отделяется символом |</small>
                                <textarea type="text"
                                    class="form-control"
                                    :name="prefix+'['+key+'][description]'"
                                    :id="hash+'_description_'+key"
                                    v-model="field.description">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </swap-card>
            </div>
        </swap-group>
    </div>
</template>

<script>
    export default {
        props: {
            fieldsin: {
                default: [],
                type: Array
            },
            prefix: {
                default: 'default',
                type: String
            },
        },
        data: () => {
            return {
                fields: [],
                hash: Math.random().toString(36).substring(7),
            }
        },
        mounted() {
            if (this.fieldsin && this.fieldsin.length) {
                this.fields = this.fieldsin;
            }
        },
        updated() {
            Admin.setEditor();
        },
        methods: {
            addBlock: function() {
                let element = {
                    title: '',
                    description: '',
                    show: true,
                }
                this.$set(this.fields, this.fields.length, element);
            },
        }
    }
</script>
<style>
    .header-btns {
        width: 65px;
        margin-right: 15px;
    }
    .js-ckeditor {
        display: none !important;
    }
</style>
