<template>
    <div :key="iteration">
        <swap-group
            :title = "title"
            >
            <div v-for="(field,key) in fields" :key="key" class="">
                <swap-card
                    :index = "key"
                    :count = "fields.length"
                    :title = "field.eu"
                >
                    <div class="row">

                        <div class="col-md-4" >
                            <div class="form-group">
                                <label :for="hash+'_rus_'+key" class="control-label">Российский р-р</label>
                                <input type="text"
                                    class="form-control"
                                    v-model="field.rus"
                                    :name="prefix+'['+key+'][rus]'"
                                    :id="hash+'_rus_'+key"
                                >
                            </div>
                        </div>
                        <div class="col-md-4" >
                            <div class="form-group">
                                <label :for="hash+'_eu_'+key" class="control-label">Европейский р-р</label>
                                <input type="text"
                                    class="form-control"
                                    v-model="field.eu"
                                    :name="prefix+'['+key+'][eu]'"
                                    :id="hash+'_eu_'+key"
                                >
                            </div>
                        </div>
                        <div class="col-md-4" >
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" v-model="field.status" :name="prefix+'['+key+'][status]'" class="custom-control-input" :id="hash+'_status_'+key">
                                    <label class="custom-control-label" :for="hash+'_status_'+key">Доступен для заказа</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label :for="hash+'_width_'+key" class="control-label">Ширина изделия, см</label>
                                <input type="text"
                                    class="form-control"
                                    v-model="field.width"
                                    :name="prefix+'['+key+'][width]'"
                                    :id="hash+'_width_'+key"
                                >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label :for="hash+'_length_'+key" class="control-label">Длина изделия, см</label>
                                <input type="text"
                                    class="form-control"
                                    v-model="field.length"
                                    :name="prefix+'['+key+'][length]'"
                                    :id="hash+'_length_'+key"
                                >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label :for="hash+'_height_'+key" class="control-label">Ростовка, см</label>
                                <input type="text"
                                    class="form-control"
                                    v-model="field.height"
                                    :name="prefix+'['+key+'][height]'"
                                    :id="hash+'_height_'+key"
                                >
                            </div>
                        </div>
                    </div>
                </swap-card>
            </div>
        </swap-group>
    </div>
</template>
<script>
    export default {
        props: {
            fieldsin: {
                default: [],
                type: Array
            },
            prefix: {
                default: 'default',
                type: String
            },
        },
        data: () => {
            return {
                fields: [],
                hash: Math.random().toString(36).substring(7),
            }
        },
        mounted() {
            if (this.fieldsin && this.fieldsin.length) {
                this.fields = this.fieldsin;
            }
        },
        updated() {
            Admin.setEditor();
        },
        methods: {
            addBlock: function() {
                let element = {
                    rus: '',
                    eu: '',
                    width: '',
                    length: '',
                    height: '',
                    status: 'on',
                }
                this.$set(this.fields, this.fields.length, element);
            },
        }
    }
</script>
<style>
    .header-btns {
        width: 65px;
        margin-right: 15px;
    }
    .js-ckeditor {
        display: none !important;
    }
</style>
