<template>
    <div :key="iteration">
        <h4>{{ title }}</h4>
        <div class="row">
            <template v-for="(field,key) in fields">
                <div :key="key" class="col-md-4">
                    <div class="card card-info cart-big-img" :id="'card-image-block-'+key">
                        <div class="card-header">
                            <div class="float-left header-btns">
                                <button v-if="key > 0" @click="swapItems(key,key-1)"  type="button" class="btn btn-tool"><i class="fa fa-chevron-left"></i></button>
                                <button v-if="key < (fields.length - 1)" @click="swapItems(key,key+1)" type="button" class="btn btn-tool"><i class="fa fa-chevron-right"></i></button>
                            </div>
                            <h3 class="card-title cursor-pointer" data-card-widget="collapse">#{{ key+1 }}</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" @click="removeItem(key)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <upload-image
                                        :url="'/admin/save/fieldimage'"
                                        :name="prefix+'['+key+'][path]'"
                                        v-model="field.path"
                                        :value="field.path ? field.path : ''"
                                        v-on:change-image="changePath(key, $event)"
                                    >
                                </upload-image>
                            </div>
                            <div class="form-group">
                                <label :for="hash+'_num_'+key" class="control-label">Номер картинки принта</label>
                                <select
                                    :id="hash+'_num_'+key"
                                    :name="prefix+'['+key+']'+'[num]'"
                                    v-model="field.num"
                                    class="form-control"
                                >
                                    <option v-for="(num,key) in [1,2,3]" :key="key" :value="key">Картинка {{ num }}</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-12"><label :for="hash+'_left_x_'+key" class="control-label">Верхняя левая точка принта</label></div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label :for="hash+'_left_x_'+key" class="control-label">X</label>
                                        <input type="number"
                                            class="form-control"
                                            step="0.1"
                                            v-model="field.left_x"
                                            v-on:change="setPaintViewElements"
                                            :name="prefix+'['+key+'][left_x]'"
                                            :id="hash+'_left_x_'+key"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label :for="hash+'_left_y_'+key" class="control-label">Y</label>
                                        <input type="number"
                                            class="form-control"
                                            step="0.1"
                                            v-model="field.left_y"
                                            v-on:change="setPaintViewElements"
                                            :name="prefix+'['+key+'][left_y]'"
                                            :id="hash+'_left_y_'+key"
                                        >
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12"><label :for="hash+'_right_x_'+key" class="control-label">Нижняя правая точка принта</label></div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label :for="hash+'_right_x_'+key" class="control-label">X</label>
                                        <input type="number"
                                            class="form-control"
                                            step="0.1"
                                            v-model="field.right_x"
                                            v-on:change="setPaintViewElements"
                                            :name="prefix+'['+key+'][right_x]'"
                                            :id="hash+'_right_x_'+key"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label :for="hash+'_right_y_'+key" class="control-label">Y</label>
                                        <input type="number"
                                            class="form-control"
                                            step="0.1"
                                            v-model="field.right_y"
                                            v-on:change="setPaintViewElements"
                                            :name="prefix+'['+key+'][right_y]'"
                                            :id="hash+'_right_y_'+key"
                                        >
                                    </div>
                                </div>
                            </div>
                            <small class="text-muted">Координаты указываются в %</small>
                            <div class="form-group">
                                <label :for="hash+'_brightness_'+key" class="control-label">Эффект "Яркость"</label>
                                <input type="number"
                                    class="form-control"
                                    step="1"
                                    min="-100"
                                    max="100"
                                    v-model="field.brightness"
                                    :name="prefix+'['+key+'][brightness]'"
                                    :id="hash+'_brightness_'+key"
                                >
                            </div>
                            <small class="text-muted">Min -100 Max 100</small>


                            <div class="row">
                                <div class="col-12"><label :for="hash+'_colorize_r_'+key" class="control-label">Эффект "Изменить цветовой баланс"</label></div>
                                <div class="col-md-4" >
                                    <div class="form-group">
                                        <label :for="hash+'_colorize_r_'+key" class="control-label">R</label>
                                        <input type="number"
                                            class="form-control"
                                            step="1"
                                            v-model="field.colorize_r"
                                            :name="prefix+'['+key+'][colorize_r]'"
                                            :id="hash+'_colorize_r_'+key"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label :for="hash+'_colorize_g_'+key" class="control-label">G</label>
                                        <input type="number"
                                            class="form-control"
                                            step="1"
                                            v-model="field.colorize_g"
                                            :name="prefix+'['+key+'][colorize_g]'"
                                            :id="hash+'_colorize_g_'+key"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label :for="hash+'_colorize_b_'+key" class="control-label">B</label>
                                        <input type="number"
                                            class="form-control"
                                            step="1"
                                            v-model="field.colorize_b"
                                            :name="prefix+'['+key+'][colorize_b]'"
                                            :id="hash+'_colorize_b_'+key"
                                        >
                                    </div>
                                </div>
                            </div>
                            <small class="text-muted">Min -100 Max 100</small>
                            <hr>
                            <div class="form-group">
                                <label :for="hash+'_color_'+key" class="control-label">Цвет</label>
                                <select
                                    :id="hash+'_color_'+key"
                                    :name="prefix+'['+key+']'+'[color]'"
                                    v-model="field.color"
                                    class="form-control"
                                >
                                    <option v-for="color in colors" :key="color.id" :value="color.id">{{ color.name }}</option>
                                </select>
                                <small class="text-muted">Указывается. если у одного предмета несколько цветов. Нужно указывать для всех картинок</small>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div style="margin: 15px 0;">
            <div class="d-flex align-items-center">
                <div :id="hash" class="upload-zone text-center flex-grow-1 bg-light">
                    <i class="fa fa-plus"></i>
                    Перетяните или кликните здесь
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
//@click.prevent="addVariation()"
    export default {
        props: {
            fieldsin: {
                default: [],
                type: Array
            },
            prefix: {
                default: 'default',
                type: String
            },
            url: {
                default: '/admin/save/fieldimage',
                type: String
            },
            colors: {
                default: [],
                type: Array
            }
        },
        data: () => {
            return {
                fields: [],
                iteration: 0,
                count: 0,
                hash: Math.random().toString(36).substring(7),
            }
        },
        mounted() {

            if (this.fieldsin && this.fieldsin.length) {
                this.fields = this.fieldsin;
                this.count = this.fields.length;
            }
            this.initUpload ();
            axios.get('/admin/colors/get')
            .then((response) => {
                this.colors = response.data;
            })
            .catch((error) => {
                // handle error
                console.log(error);
            });
            setTimeout(() => {
                this.setPaintViewElements();
            }, 1000);

        },
        watch: {
            fields: function () {
                this.setPaintViewElements();
            },
        },
        methods: {
            initUpload () {
                let self = this,
                    container = $(self.$el.parentNode);
                let area = $('#'+this.hash);
                    area.dropzone({
                        url: this.url,
                        method: 'POST',
                        uploadMultiple: false,
                        maxFilesize: Admin.Config.get('max_file_size'),
                        dictFileTooBig: trans('lang.ckeditor.upload.error.filesize_limit_m', {size: Admin.Config.get('max_file_size')}),
                        dictInvalidFileType: trans('lang.ckeditor.upload.error.wrong_extension', {file: self.name}),
                        dictResponseError: trans('lang.ckeditor.upload.error.common'),
                        previewsContainer: false,
                        acceptedFiles: 'image/*',
                        dictDefaultMessage: '',
                        sending () {
                            self.uploading = true;
                            self.closeAlert()
                        },
                        success (file, response) {
                            self.val = response.value;
                            let title = '';
                            if ($('[name="name"]').length) {
                                title = $('[name="name"]').val();
                                if (self.fields.length) {
                                    title += ' - ' + self.fields.length;
                                }
                            }

                            let element = {
                                path: response.value,
                                alt: title,
                                show: true,
                            }
                            self.$set(self.fields, self.fields.length, element);
                        },
                        error (file, response) {
                            if(_.isArray(response.errors)) {
                                if (response.errors[0]) {
                                    Admin.Messages.error(response.errors[0])
                                }
                                self.errors = response.errors;
                            }
                        },
                        complete() {
                            self.uploading = false;
                        }
                    });
            },
            addVariation: function() {
                let element = {
                        path: '',
                        num: 1,
                        left_x: '',
                        left_y: '',
                        right_x: '',
                        right_y: '',
                        brightness: 0,
                        colorize_r: 0,
                        colorize_g: 0,
                        colorize_b: 0,
                        show: true,
                 }
                this.$set(this.fields, this.fields.length, element);
            },
            swapItems: function (firstKey,secondKey) {
                let tempItem = this.fields[firstKey];
                this.$set(this.fields, firstKey, this.fields[secondKey]);
                this.$set(this.fields, secondKey, tempItem );
            },
            removeItem: function (itemKey) {
                this.fields.splice(itemKey,1);
            },
            closeAlert () {
                this.errors = [];
            },
            changePath: function (key,path) {
                setTimeout(() => {
                    if (document.querySelector(`#card-image-block-${key}`) && !document.querySelector(`#card-image-block-${key} .paint-view`)) {
                        let element = document.createElement('div');
                        element.classList.add('paint-view');
                        document.querySelector(`#card-image-block-${key} .form-element-files__image`).append(element);
                    }
                }, 500);
            },
            setPaintViewElements: function () {
                let fields = this.fields;
                fields.forEach((element,key) => {
                    let viewer = document.querySelector(`#card-image-block-${key} .paint-view`);
                    if (viewer) {
                        viewer.style.left = element.left_x+'%';
                        viewer.style.top = element.left_y+'%';
                        viewer.style.width = (+element.right_x - +element.left_x)+'%';
                        viewer.style.height = (+element.right_y - +element.left_y)+'%';
                    }
                });


            }
        }
    }
</script>
<style>
    .header-btns {
        width: 65px;
        margin-right: 15px;
    }
    .upload-zone {
        border: 1px dashed #ccc;
        text-align: center;
        line-height: 80px;
        cursor: pointer;
    }
    .upload-zone:hover {
        background: #efefef !important;
    }
    .cart-big-img .form-element-files__item {
        background: #efefef;
        text-align: center;
    }
    .cart-big-img .form-element-files__image {
        height: 400px;
        display: inline-flex;
        width: auto;
        position: relative;
    }

    .cart-big-img .form-element-files__item .btn.btn-danger {
        float: left;
    }
</style>
