html {
    height: 100%;
}

body {
    font-size: 16px;
    color: #181818;
    position: relative;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

body>* {
    overflow: hidden;
    order: 8;
}

b,
strong {
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

svg path {
    transition: all 0.25s linear;
}

textarea {
    resize: none;
    border-radius: 4px;
}

label {
    font-size: 15px;
}

a {
    outline: none !important;
}

.dn {
    display: none;
}

.dots {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=) 0 80% repeat-x;
}

.dflex {
    display: flex;
    flex-wrap: wrap;
}

.overlay_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 800;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

body .top-0 {
    top: 0;
}

.row_line {}

.header_mobile {
    display: none;
    flex: 0 0 auto;
    overflow: visible !important;
    z-index: 3333;
}

.wrapper_page {
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media screen and (min-width:1335px) {
    .container {
        max-width: 1335px;
    }
}

img,
svg {
    max-width: 100%;
    height: auto;
    position: relative;
}

.image {
    position: relative;
}

.image img {
    margin: 0 auto;
    display: block;
}

.ico {
    position: relative;
    display: inline-block;
}

.ico img {
    margin: 0 auto;
    display: block;
}

.btn_silver {
    display: inline-flex;
    min-width: 244px;
    height: 56px;
    color: #828282;
    border: 1px solid;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s linear;
    outline: none !important;
}

.btn_red {
    display: inline-flex;
    min-width: 244px;
    height: 56px;
    color: #fff;
    background: #BD2937;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s linear;
    outline: none !important;
    letter-spacing: .7px;
}

.form-control.error {
    border: 1px solid #BD2937;
}

.error-message {
    font-size: 14px;
    line-height: 130%;
    color: #BD2937;
    width: 100%;
    text-align: left;
}

.btn_red.dn {
    display: none;
}

.btn_silver:hover {
    color: #BD2937;
}

.btn_red:hover {
    background: #A91523;
}

button,
input {
    border-radius: 4px !important;
}

button+button,
.btn_silver+.btn_red {
    margin-left: 15px;
}

.bg-blue {
    background: #212D3B;
}

.bg-black {
    background: #181818;
}

.bg-red {
    background: #BD2937;
    color: #fff;
}

.bg-blue2 {
    background: #2D9CDB;
    color: #fff;
}

.bg-gray2 {
    background: #4F4F4F;
}

.bg-gray3 {
    background: #828282;
}

.bg-gray4 {
    background: #BDBDBD;
}

.bg-gray5 {
    background: #E0E0E0;
}

.bg-beth {
    background: #F8F8F9;
}

.fw-600 {
    font-weight: 600;
}


/* color
---------------------------------------*/

.color-blue {
    color: #212D3B;
}

.color-black {
    color: #181818;
}

.color-red {
    color: #BD2937;
}

.color-blue2 {
    color: #2D9CDB;
}

.color-gray2 {
    color: #4F4F4F;
}

.color-gray3 {
    color: #828282;
}

.color-gray4 {
    color: #BDBDBD;
}

.color-gray5 {
    color: #E0E0E0;
}

.color-beth {
    color: #F8F8F9;
}

.head_1,
.head_2,
.head_3 {
    font-weight: 600;
}

.head_1,
.head_2,
.head_3,
.head_4,
.head_5,
.head_6 {
    position: relative;
    margin-bottom: 25px;
    margin-top: 0;
}

.head_1 {
    font-size: 32px;
}

.head_2 {
    font-size: 24px;
}

.head_3 {
    font-size: 18px;
}

.head_4 {
    font-size: 16px;
}

.head_5 {
    font-size: 14px;
}

.head_6 {
    font-size: 13px;
}

.head_wrap {
    position: relative;
    margin-top: 10px;
    margin-bottom: 35px;
}

.head_wrap>* {
    margin: 0 auto;
    padding: 0;
}

p {
    margin-bottom: 18px;
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

ol,
ul {
    margin-bottom: 18px;
    margin-top: 0;
}

ol:last-child,
ul:last-child {
    margin-bottom: 0;
}

ul:not([class]) li {
    margin-bottom: 10px;
}

table {
    width: 100%;
}

.list_no {
    list-style: none;
}

.underline {
    text-decoration: underline;
}

.p0 {
    padding: 0;
}

.m0 {
    margin: 0;
}

.tcenter {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}

.jcenter {
    justify-content: center;
}

.jend {
    justify-content: flex-end;
}

.jstart {
    justify-content: flex-start;
}

.jaround {
    justify-content: space-around;
}

.jbetween {
    justify-content: space-between;
}

.al_item_center {
    align-items: center
}

.font_size_big {
    font-size: 48px;
    font-weight: 900;
}

.font_size_normal {
    font-size: 18px;
}

.font_size_smal {
    font-size: 10px;
}

a {
    transition: all 0.24s linear;
}

a:hover {
    text-decoration: none;
}

a:not([class]) {
    color: #2D9CDB;
}

a:not([class]):hover {
    text-decoration: underline;
    color: #BD2937;
}

button:focus {
    outline: none;
}

.flex_w {
    flex-wrap: wrap;
}

.aside_contact_text {
    font-size: 18px;
    line-height: 1.3;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.modal-body {
    padding: 60px 40px 40px;
}

.flex-link {
    display: flex;
    flex-flow: row wrap;
}

.flex-link span {
    padding-right: 5px;
}

.arrow-top {
    position: fixed;
    bottom: 80px;
    right: 30px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    background: #F9EAEB;
    transition: .25s;
    border-radius: 50%;
}

.arrow-top:hover {
    background: #BD2937;
}

.arrow-top:hover path {
    fill: white;
}

.arrow-top.active {
    z-index: 10;
    opacity: 1;
}

.mobile-menu__container {
    display: none;
}

#size-modal .modal-footer {
    border: none;
    padding: 0;
    margin: 0;
}

#size-modal .modal-dialog {
    max-width: 400px;
}

#size-modal .product_size_item {
    width: 21.5%;
}

.form-group__flex {
    display: flex;
    justify-content: space-between;
}

.form-group__flex .form-group {
    width: 32%;
}

@media(max-width: 640px) {
    .mobile-menu__container {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        align-items: center;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, .08);
        background: white;
        z-index: 100;
        justify-content: space-between;
    }
    .mobile-menu__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #4F4F4F;
        flex-basis: 25%;
        &:hover,
        &:focus,
        &.-is-active {
            color: #2D9CDB;
            .mobile-menu__item_pic svg path {
                fill: #2D9CDB;
            }
            .mobile-menu__item_pic.cart svg path {
                fill: none;
                stroke: #2D9CDB;
            }
        }
    }
    .mobile-menu__item_pic {
        height: 30px;
        display: flex;
        position: relative;
        svg path {
            fill: #4F4F4F;
        }
        &.cart {
            svg path {
                fill: none;
            }
        }
    }
    .mobile-menu__item_text {
        font-size: 13px;
        line-height: 17px;
        font-weight: 500;
        margin-top: 4px;
    }
    .mobile-menu__item_pic_count {
        color: white;
        position: absolute;
        top: 0px;
        right: -3px;
        border: 2px solid white;
        background: #BD2937;
        min-width: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
    }
}

@media(max-width: 380px) {
    #size-modal .product_size_item {
        width: 29.5%;
    }
    .form-group__flex {
        flex-direction: column;
    }
    .form-group__flex .form-group {
        width: 100%;
    }
}

.construct_wrap {
    border: 1px solid #F2F2F2;
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .aside_wrap {
        height: 100%;
    }
    .aside {
        height: calc(100% - 44px);
        overflow-y: scroll;
    }
}
