.catalog_wrap {}

.catalog_print {
    padding: 110px 0 20px;
}

.catalog_category_items {}

.section_cat_title {
    margin-bottom: 12px;
}

.section_cat_title>* {
    margin: 0;
    padding: 0;
}

.btn_blue {
    border: 2px solid #2D9CDB;
    text-transform: uppercase;
    text-decoration: none !important;
    height: 56px;
    letter-spacing: .7px;
}

.btn_blue span {
    text-decoration: none;
}

.section_cat_desc {
    max-width: 830px;
    margin-bottom: 24px;
    line-height: 1.3;
}

.filter-color {
    display: flex;
    align-content: center;
    padding: 25px 0 10px;
    border-top: 1px solid #F2F2F2;
}

.filter-color__items {
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;
}

.filter-color__item {
    position: relative;
    display: block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.filter-color__item span {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.filter-color__item input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.filter-color__item input:checked+span:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #BD2937;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
}

.filter-color__item input:checked+span:after {
    content: url("../images/svg/check.svg");
    position: absolute;
    padding-top: 1px;
}

.color_text {
    position: relative;
    top: 6px;
    color: #828282;
}

.catalog_category_item {
    margin-bottom: 25px;
}

.category_item_name {
    font-weight: 600;
    font-size: 18px;
    color: #181818;
    display: block;
}

.category_item_name:hover {
    color: #BD2937;
}

.category_item_name span {
    display: block;
    padding: 17px 0;
}

.catalog_item_name a:hover {
    text-decoration: none;
}

.category_item_img {
    overflow: hidden;
}

.catalog_items {}

.catalog_item {
    border: 1px solid #F2F2F2;
    padding: 20px;
    background-color: #fff;
    transition: all 0.25s linear;
    &_params {
        height: 146px;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    &_price {
        font-size: 24px;
        font-weight: 600;
        margin-top: auto;
        margin-bottom: 0;
    }
    &_name {
        color: #828282;
        >a {
            outline: none !important;
        }
    }
    &_desc {
        color: #181818;
    }
    &__link {
        &:hover {
            .catalog_item_name,
            .catalog_item_desc {
                color: #BD2937 !important;
            }
        }
        .catalog_item_name {
            margin-bottom: 5px !important;
            height: 40px !important;
        }
        .catalog_item_desc {
            height: 74px;
            overflow: hidden;
        }
    }
    .item_add_cart {
        margin-top: 0;
        outline: none !important;
    }
}

.catalog_item:hover {
    border: 1px solid #BDBDBD;
}

.catalog_item .catalog_item_img img,
.catalog_category_item .category_item_img img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.catalog_item:hover .catalog_item_img a {
    color: #BD2937 !important;
}

.catalog_category_item:hover .category_item_img img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.carousel_product .catalog_item,
.page .catalog_item {
    padding-bottom: 15px;
}

.page .catalog_item {
    margin-bottom: 15px;
}

.page .catalog_items>.row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.page .catalog_items [class*=col-] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

[class*=col-].w2 {
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.add_all_product {
    height: 56px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 30px;
    transition: all 0.25s linear;
}

.open_collection {
    height: 56px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
    display: none;
}

.btn_all_product {
    width: 100%;
    line-height: 56px;
    text-align: center;
    position: relative;
    display: block;
    color: #828282;
    text-transform: uppercase;
}

.add_all_product:hover {
    border-color: #BD2937;
    ;
}

.add_all_product:hover .btn_all_product,
.btn_all_product:hover {
    color: #BD2937;
}

.category_desc {
    padding: 40px 0;
}

.catalog_item_name {
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    height: 40px;
    overflow: hidden;
}

.catalog_item_name:hover {
    color: #BD2937;
}

.catalog_item_name a {
    color: inherit;
}

.category_list.sales .catalog_item_name,
.carousel_product .catalog_item_name,
.col-content .catalog_item_name {
    font-weight: normal;
    font-size: 15px;
    color: #828282;
    line-height: 1.3;
}

.carousel_product .catalog_item_name {
    height: 35px;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 17px;
}

.catalog_item_img {
    margin-bottom: 25px;
    overflow: hidden;
}

.item_add_cart {
    margin-top: 38px;
}

.item_add_cart svg path {
    fill: #9D9D9D;
}

.item_add_cart:hover svg path {
    fill: #4F4F4F;
}

.item_add_cart:hover svg path {
    fill: #4F4F4F;
}

.item_add_cart.purchase svg path,
.item_add_cart.purchase:hover svg path {
    fill: #66BD3A;
}

.catalog_item_desc {
    font-size: 16px;
}

.catalog_item_old_price {}

.catalog_item_params {}

.item_param {
    color: #828282;
}

.item_param:first-child~.item_param {
    margin-top: 5px;
}

.item_param span {
    font-weight: 600;
    color: #181818;
}

.catalog_item_more {}

.add_to_cart {}

.nav-tabs .nav-item {
    background: #F8F8F9;
    flex: auto;
    position: relative;
}

.td-mobile {
    display: none;
}

.nav-tabs .nav-link {
    border: 0;
    border-radius: 0;
    color: #4F4F4F;
    transition: all 0.25s linear;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 18px;
    min-height: 49px;
    padding-right: 18px;
    border-bottom: 3px solid transparent;
}


/*.nav-tabs .nav-link::after{
	content: "";
	transition: all 0.25s linear;
	display: block;
	height: 3px;
	width: 100%;
	background: transparent;
	bottom: -7px;
	left: 100%;
	position: absolute;
}
.nav-tabs .nav-link::before{
	content: "";
	transition: all 0.25s linear;
	display: block;
	height: 3px;
	width: 100%;
	background: transparent;
	bottom: -7px;
	left: -100%;
	position: absolute;
}
.nav-tabs .nav-link.active::after{
	background: #BD2937;
	left: -100%;
	display: none;
}
.nav-tabs .nav-link.active::before{
	background: #BD2937;
	left: 0;
}*/

.nav-tabs_ico {
    margin-right: 8px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #BD2937;
    background: rgba(189, 41, 55, 0.1);
    border-bottom: 3px solid transparent;
}

.nav-tabs .nav-link:hover {
    background: rgba(189, 41, 55, 0.1);
    border-bottom: 3px solid transparent;
}


/*.nav-tabs .nav-link.active{
	border-bottom: 3px solid #BD2937;
}*/

.nav-tabs .nav-link path,
.nav-tabs .nav-link path {
    fill: #4F4F4F;
}

.nav-tabs .nav-link rect {
    stroke: #4F4F4F;
}

.nav-tabs .nav-link.active rect {
    stroke: #BD2937;
}

.nav-tabs .nav-link.active path {
    fill: #BD2937;
}

.nav-item:last-child .nav-link path,
.nav-item:last-child .nav-link path {
    stroke: #4F4F4F;
    fill: transparent;
}

.nav-item:last-child .nav-link.active path {
    stroke: #BD2937;
    fill: transparent;
}

.carousel_product .owl-dots,
.instagram_items .owl-dots {
    display: none;
}

.popular_product {
    padding: 100px 0;
}

.col-lg-3.w2 {
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.category_list {
    padding-bottom: 0;
}

.category_list_title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.category_list_wrap {
    padding: 40px 0;
}

.print_cat_page .category_list_wrap {
    padding: 80px 0;
}

.category_list_wrap:nth-child(even) {
    background: #F8F8F9;
}

.category_list_wrap .catalog_item {
    padding-top: 15px;
}

.category_list_wrap .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.category_list_wrap [class*=col-] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.cart_steps {
    justify-content: flex-end;
    position: relative;
    top: 3px;
    margin-right: -39px;
}

.cart_step {
    color: #BDBDBD;
    text-align: center;
    font-size: 15px;
    position: relative;
    width: 33.333%;
}

.cart_step~.cart_step {}

.cart_step.active {
    color: #181818;
}

.cart_step_ico {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto 6px;
}

.cart_step_text {}

.cart_step~.cart_step::before {
    content: "";
    display: block;
    height: 1px;
    width: 140px;
    border-top: 1px dashed #BDBDBD;
    position: absolute;
    right: 67%;
    top: 20px;
}

.cart_step.true+.cart_step::before {
    border-top: 1px solid #BDBDBD;
}

.cart_items {
    padding-top: 70px;
}

.row-cart-item {
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;
    font-size: 16px;
}

.row-cart-item.thead {
    color: #828282;
}

.row-cart-item .col {
    flex: 1;
    padding: 0;
}

.row-cart-item .col:nth-child(1) {
    flex: 0 0 20%;
}

.row-cart-item .col:nth-child(2) {
    flex: 0 0 30%;
}

.row-cart-item .col:nth-child(3) {
    flex: 0 0 15%;
}

.row-cart-item .col:nth-child(4) {
    flex: 0 0 15%;
}

.cart-item {
    position: relative;
}

.cart-link {
    color: #828282;
    display: block;
    margin-bottom: 5px;
}

.cart-link:hover {
    color: #BD2937;
}

.no_attr {
    margin-bottom: 12px;
}

.product-quantity {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-quantity input[type=text] {
    border: 0;
    background: none;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.product-quantity .minus,
.product-quantity .plus {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    background: #F2F2F2;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.product-quantity .minus:hover,
.product-quantity .plus:hover {
    background: rgba(189, 41, 55, 0.1);
}

.product-quantity .minus {
    line-height: 37px;
}

.cart-close {
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 0;
    /*left: 50%;
    transform: translate(-50%, -50%);*/
    align-items: center;
    cursor: pointer;
}

.cart-close path {
    transition: all 0.25s linear;
}

.cart-close:hover path {
    stroke: #BD2937;
}

.cart_footer {
    align-items: center;
    justify-content: space-between;
}

.link_to_cat {
    height: 56px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
    font-weight: 600;
    width: 243px;
    transition: all 0.25s linear;
    letter-spacing: .7px;
    border-radius: 4px;
}

.cart_col-right .link_to_cat:hover {
    background: #A91523;
}

.link_to_cat:hover {
    color: #A91523;
    border-color: #A91523;
}

.cart_col-left {}

.cart_col-right {
    justify-content: flex-end;
}

.cart_col-left,
.cart_col-right {
    display: flex;
}

.section_cart_title {
    margin-bottom: 12px;
}

.cart_col-right .link_to_cat .add_to_cart {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_amount {
    padding: 40px 0;
}

.bay_click {
    padding: 20px 0;
}

.bay_click_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 243px;
    margin-top: 20px;
    &:hover {
        color: #BD2937;
        border-color: #BD2937;
    }
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio+label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio+label .ico {
    top: -2px;
    margin-left: 5px;
}

.radio+label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    background: #FFF;
}

.radio+label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #BD2937;
    opacity: 0;
    transition: .2s;
}

.radio:checked+label {
    color: #BD2937;
}

.radio:checked+label:after {
    opacity: 1;
}

.radio:focus+label:before {}

.checkout_select {
    padding: 40px 0;
}

.checkout_form_info .form-group {
    padding-top: 10px;
}

.checkout_form_info .form-control {
    height: 48px;
}

.checkout_form_info textarea.form-control {
    height: 120px;
}

#exampleModal .modal-footer {
    padding: .75rem 40px;
    border-top: none;
}

#exampleModal .modal-body {
    padding-bottom: 0;
}

.checkout_form_info {
    padding: 10px 0;
}

.checkout_form_info .button_wrap {
    padding: 20px 0;
}

.checkout_select .select {}

.checkout_select .select~.select {
    margin-top: 20px;
}

::-webkit-input-placeholder {
    color: #BDBDBD;
}

::-moz-placeholder {
    color: #BDBDBD;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #BDBDBD;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #BDBDBD;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    color: #181818;
    font-size: 16px;
}

.form-control:focus {
    color: #181818;
    box-shadow: 0 0 0;
    border-color: #E0E0E0;
}

.complete_order {
    line-height: 130%;
}

.complete_order .section_cart_title>* {
    margin-bottom: 15px;
}

.operating_time {
    padding: 40px 0;
}

.operating_time_title {
    margin-bottom: 5px;
}

.your_order {
    padding: 30px;
    position: sticky;
    top: 20px;
    max-width: 506px;
    border: 1px solid #E0E0E0;
    margin-left: auto;
    margin-right: 18px;
    margin-top: 45px;
}

.your_order_title {}

.your_order_items {}

.your_order_item {
    display: flex;
    flex-wrap: wrap;
    line-height: 130%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #F2F2F2;
}

.your_order_item:last-child {
    border-bottom: 1px solid #F2F2F2;
}

.your_order_img {
    max-width: 100px;
}

.your_order_content {
    width: calc(100% - 100px);
    padding-left: 30px;
}

.your_order_name {
    font-size: 15px;
    color: #828282;
    margin-bottom: 5px;
}

.your_order_name a {
    color: inherit;
}

.your_order_desc {
    max-width: 230px;
}

.your_order_footer {
    padding: 5px 0;
    margin-top: 5px;
}

.order_edit_link {
    text-decoration-line: underline;
    color: #2D9CDB;
    position: absolute;
    right: 30px;
    top: 37px;
}

.your_order_bottom {
    padding-top: 33px;
}

.select label {
    font-size: 16px;
}

.opt_items {}

.opt_item {
    padding: 25px 0;
    border-bottom: 1px solid #F2F2F2;
}

.opt_item~.opt_item {
    margin-top: 35px;
}

.opt_item_img {
    max-width: 310px;
}

.opt_add_cart {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: inline-flex;
    width: auto;
    min-width: 140px;
    font-size: 16px;
    opacity: 0;
    min-height: 39px;
}

.opt_item_img img {
    border: 2px solid transparent;
    transition: all 0.25s linear;
}

.opt_item_img:hover img {
    border: 2px solid #BD2937;
}

.opt_item_img:hover .opt_add_cart {
    opacity: 1;
}

.opt_add_cart:hover {
    color: #fff;
}

.opt_item_content {
    padding-left: 15px;
    width: calc(100% - 310px);
    padding-top: 10px;
}

.product_gallery .owl-dots {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    width: auto;
}

.product_gallery .owl-dot {
    width: calc(25% - 15px);
}

body .product_gallery button.owl-dot.active {
    border: 1px solid #BD2937;
}

body .product_gallery button.owl-dot {
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-radius: 0;
    height: auto;
    padding: 0 !important;
    margin: 7.5px;
}

body .product_gallery button.owl-dot img {
    width: 100%;
}

.col_product_img {
    flex: 0 0 40%;
    max-width: 40%;
}

.col_product_content {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 65px;
    line-height: 130%;
}

.product_wrap .product_cat {
    margin-bottom: 10px;
}

.product_wrap .nav_title {
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #F2F2F2;
}

.col_product_content .tab-content>.tab-pane .catalog_items {
    margin-right: -100px;
}

.col_product_content .tab-content>.tab-pane .owl-stage-outer::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    width: 15%;
    background: linear-gradient(270deg, #FFFFFF 49.57%, rgba(255, 255, 255, 0) 100%);
    z-index: 100;
}

.col_product_content .catalog_item_name {
    font-size: 13px;
    font-weight: normal;
}

.col_product_content .owl-carousel .owl-nav {
    position: relative;
    z-index: 300;
    width: 100%;
}

.col_product_content .owl-carousel .owl-nav button.owl-prev,
.col_product_content .owl-carousel .owl-nav button.owl-next {
    z-index: 200;
    padding: 0 !important;
    margin: 0 !important;
    top: -120px;
}

.col_product_content .owl-carousel .owl-nav button.owl-next {
    top: -140px;
    right: -90px;
}

.col_product_content .owl-carousel .catalog_item_name a {
    color: #828282;
}

.col_product_content .owl-carousel .checked .catalog_item_name a {
    color: #181818;
}

.col_product_content .owl-carousel .owl-nav button.owl-prev {
    left: -180px;
}

.col_product_content .nav-tabs .nav-link {
    min-height: 40px;
}

.col_product_content .carousel__page_product .catalog_item {
    border-color: transparent;
    padding: 5px;
}

.col_product_content .carousel__page_product .catalog_item.checked,
.col_product_content .carousel__page_product .catalog_item.checked:hover {
    border-color: #BD2937;
}

.col_product_content .carousel__page_product .catalog_item.active:first-child {
    border-color: red;
}

.col_product_content .carousel__page_product .catalog_item:hover {
    border-color: transparent;
}

.col_product_content .carousel__page_product .catalog_item:hover a {
    color: #BD2937;
}

.col_product_content .nav-tabs {
    margin-bottom: 15px;
}

.col_product_content .carousel__page_product {
    padding: 0 60px;
}

.product_size_title {
    margin-bottom: 15px;
    font-size: 14px;
}

.product_size_select {
    padding: 25px 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin-top: 0px;
}

.tooltip {
    max-width: 135px;
}

.product_size_items {
    margin-right: -5px;
    margin-left: -5px;
}

.product_size_item {
    display: inline-flex;
    min-height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0E0E0;
    width: 11%;
    margin: 5px;
    cursor: pointer;
    transition: all 0.25s linear;
    font-size: 14px;
    border-radius: 4px;
}

.product_size_item:hover {
    border: 1px solid #4F4F4F;
}

.product_size_item.active {
    border-color: #BD2937;
    border-width: 2px;
    color: #BD2937;
}

.product_price {
    padding: 30px 0 58px;
}

.product_price .price {
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    padding: 0 30px 0 20px;
}

.product_price .price_text {
    position: relative;
    top: 6px;
    color: #828282;
}

.product_sale_link {
    display: inline-block;
    margin-left: 30px;
    text-decoration: underline;
}

.product_one_click {
    display: inline-block;
    margin-left: 30px;
    text-decoration: underline;
    box-shadow: none !important;
    &:hover {
        border-color: #BD2937;
        color: #BD2937;
    }
}

.col_product_content button {
    min-width: 290px;
}

.col_product_content button .ico {
    margin-right: 5px;
}

.product_single_info {
    padding: 20px 0;
    border-top: 1px solid #F2F2F2;
    margin-top: 30px;
}

.single_info_line {
    padding: 7.5px 0;
}

.single_info_line .ico {
    margin-right: 13px;
}

.product_wrap .popular_product .owl-carousel .owl-nav button.owl-prev {
    left: -60px;
}

.product_wrap .popular_product .owl-carousel .owl-nav button.owl-next {
    right: -60px;
}

.row_product_desc {
    position: relative;
    padding: 80px 0;
    margin-top: 50px;
    background: #F8F8F9;
    line-height: 130%;
}

.product_desc_title {
    margin-bottom: 15px;
}

.row_product_desc>* {
    position: relative;
    z-index: 100;
}

.row_product_desc::before,
.row_product_desc::after {
    content: "";
    display: block;
    height: 100%;
    width: 800px;
    position: absolute;
    background: #F8F8F9;
    top: 0;
}

.row_product_desc::before {
    left: -800px;
}

.row_product_desc::after {
    right: -800px;
}

.col_product_desc {
    flex: 0 0 40%;
    max-width: 40%;
    line-height: 130%;
}

.col_product_params .opt_item_attr>* {
    background: #F8F8F9;
}

.col_product_params {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 65px;
}

.col_product_desc p {
    margin-bottom: 25px;
}

.col_product_desc p:last-child {
    margin-bottom: 0;
}

.product_wrap .popular_product {
    padding: 100px 0 30px;
}

@media screen and (min-width:1366px) {
    .opt_item_table {
        flex-wrap: nowrap;
    }
}

.item_table_col {
    display: inline-flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: 1px solid #E0E0E0;
    flex: 0 0 140px;
    max-width: 140px;
}

.item_table_col~.item_table_col {
    border-left-color: transparent;
}

.opt_item_table~.opt_item_table .item_table_col {
    border-top-color: transparent;
}

.item_table_col:nth-child(1) {
    justify-content: flex-start;
    flex: 0 0 180px;
    max-width: 180px;
    background: #F6F6F6;
}

.opt_item_attrs {
    padding: 30px 0;
    font-size: 16px;
    max-width: 400px;
}

.opt_item_attr {
    justify-content: space-between;
}

.opt_item_attr~.opt_item_attr {
    margin-top: 10px;
}

.opt_item_attr>* {
    background-color: #fff;
}

.opt_item_attr> :first-child {
    padding-right: 5px;
    color: #828282;
}

.opt_item_attr> :last-child {
    padding-left: 5px;
    margin-left: auto;
    margin-right: 0;
}

.product_color_select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.product_color_title {
    color: #828282;
    display: inline-block;
    margin-right: 20px;
}

.product_color__item {
    display: inline-flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 7.5px;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.product_color__item.active {
    border: 2px solid #BD2937;
}

.modal-body .table-bordered td:first-child,
.modal-body .table-bordered th:first-child {
    background-color: #F8F8F9;
}

.main_section__checkout {
    overflow: inherit;
}

@media screen and (max-width:1366px) {
    .catalog_items {
        padding: 0 0px;
    }
    body .owl-carousel .owl-nav button.owl-prev {
        left: -10px;
    }
    body .owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }
    .opt_item_content {
        font-size: 15px;
    }
    .item_table_col:nth-child(1) {
        flex: 0 0 170px;
    }
    .item_table_col {
        flex: 0 0 130px;
    }
    .product_wrap .popular_product .owl-carousel .owl-nav button.owl-prev {
        left: -10px;
    }
    .product_wrap .popular_product .owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }
}

@media screen and (max-width:1326px) {
    .opt_item_img {
        max-width: 220px;
    }
    .opt_item_content {
        width: calc(100% - 220px);
    }
}

@media screen and (max-width:1280px) {
    [class*=col-].w2 {
        width: 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .img img {
        display: block;
        margin: 0 auto;
    }
    .col-steps {}
    .cart_steps {
        margin-right: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .cart_step~.cart_step::before {
        width: 66%;
    }
}

@media screen and (max-width:1230px) {
    .opt_item_table {
        width: 32%;
        display: inline-flex;
    }
    .item_table_col:nth-child(1),
    .item_table_col {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .item_table_col~.item_table_col {
        border-left-color: #E0E0E0;
    }
    .opt_item_table~.opt_item_table .item_table_col {
        border-top-color: #E0E0E0;
    }
    .page_catalog .catalog_items [class*=col-] {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media(max-width: 1150px) {
    .button_wrap.dflex.align-items-center {
        flex-direction: column;
        align-content: flex-start;
    }
    .btn_blue {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media screen and (max-width:1030px) {
    .nav-tabs .nav-item {
        flex: none;
    }
    .col_product_content .tab-content>.tab-pane .catalog_items .owl-carousel .owl-item img {
        width: auto;
    }
    .checkout_form_info .button_wrap button,
    .checkout_form_info .button_wrap button+button {
        margin-left: 0;
        margin-top: 20px;
    }
    .checkout_form_info .button_wrap button+button {
        order: -1;
    }
}

@media screen and (max-width:960px) {
    .nav-tabs_ico {
        width: 100%;
        margin: 0 0 0;
        min-height: 30px;
        text-align: center;
    }
    [class*=col-].w2 {
        width: 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-steps {
        min-height: 100px;
        top: auto;
    }
    .section_cart_desc br {
        display: none;
    }
}

@media screen and (max-width:850px) {
    .td-desktop {
        display: none;
    }
    .td-mobile {
        display: block;
    }
    .table-bordered td:first-child {
        white-space: nowrap;
    }
    .opt_item_img,
    .opt_item_content {
        max-width: 100%;
        width: 100%;
    }
    .opt_item_attrs+div {
        width: 100%;
        margin-top: 30px;
    }
    .product_gallery.owl-carousel .owl-item img {
        width: auto;
        display: block;
        margin: 0 auto;
    }
    .modal-body .table-bordered td:first-child,
    .modal-body .table-bordered th:first-child {
        position: sticky;
        left: 0;
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        box-shadow: 2px 0 4px rgba(0, 0, 0, .08);
    }
    .modal-body .table-bordered td:first-child:before,
    .modal-body .table-bordered th:first-child:before {
        content: '';
        position: absolute;
        right: -1px;
        width: 1px;
        background: #dee2e6;
        height: 100%;
        top: 0;
    }
    .modal-body .table-bordered td:first-child:after,
    .modal-body .table-bordered th:first-child:after {
        content: '';
        position: absolute;
        left: -1px;
        width: 1px;
        background: #dee2e6;
        height: 100%;
        top: 0;
    }
    .page_catalog .catalog_items [class*=col-] {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .opt_item_table {
        width: 33.333%;
    }
    .opt_item_table~.opt_item_table {
        margin-left: -1px;
    }
    .opt_item_content {
        padding: 10px 0 0;
        display: flex;
        flex-wrap: wrap;
    }
    .item_table_col {
        padding: 0 10px;
    }
    .item_table_col:nth-child(1) span span {
        display: none;
    }
    .opt_item_img img {}
    .opt_item .section_title .line,
    .opt_item .section_title .section_title_link {
        display: none;
    }
    .opt_item_content .btn_red.dn {
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .col_product_img,
    .col_product_content,
    .col_product_desc,
    .col_product_params {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
    }
    .col_product_desc,
    .col_product_params {
        padding-left: 15px;
    }
    .product_gallery .owl-dots {
        margin: 0;
    }
    .col_product_content .tab-content>.tab-pane .owl-stage-outer::after {
        display: none;
    }
    .col_product_content .tab-content>.tab-pane .catalog_items {
        margin-right: auto;
    }
    .product_size_item {
        width: 23.2%;
    }
    .col_product_content .owl-carousel .owl-nav button.owl-next {
        right: -180px;
    }
}

@media(max-width: 820px) {
    body .product_wrap .product_gallery button.owl-dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    .product_gallery .owl-dots {
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .col_product_content button {
        width: auto;
    }
    .row-cart-item .col:nth-child(4) {
        flex: 0 0 35%;
    }
    [class*=col-].w2 {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-steps {
        min-height: 100px;
        top: auto;
    }
    .cart_step {
        width: 250px;
    }
    .col_cart_wrap {}
    .row-cart-item.thead {
        display: none;
    }
    .cart-close {
        transform: none;
        top: 0;
        left: auto;
        right: 0;
    }
    .row-cart-item {
        position: relative;
    }
    .row-cart-item .col:nth-child(2) {
        flex: 0 0 80%;
        padding-left: 15px;
    }
    .row-cart-item .col:nth-child(3) {
        flex: 0 0 20%;
    }
    .row-cart-item .col:nth-child(3)>* {
        display: none;
    }
    .row-cart-item .col:last-child {
        order: -1;
        position: absolute;
        right: 0;
        top: 20px;
    }
    .cart_step~.cart_step::before {
        width: 65%;
    }
    .checkout_form button+button {
        margin-left: 0;
        margin-top: 20px;
    }
    .checkout_form button {
        width: 100%;
    }
    .your_order {
        display: none;
    }
    .product_price>* {
        /*display: block;
		width: 100%;*/
        top: auto;
        padding: 15px 0 !important;
    }
    .product_one_click {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .product_price .price {
        margin-left: 10px;
        margin-right: 20px;
    }
    .product-quantity .minus,
    .product-quantity .plus {
        color: #BDBDBD;
    }
    .product-quantity .minus:hover,
    .product-quantity .plus:hover {
        color: #181818;
    }
}

@media screen and (max-width:640px) {
    #exampleModal .modal-body {
        padding-bottom: 0;
    }
    #exampleModal .modal-footer {
        padding: 0 40px .75rem;
        border-top: none;
    }
    #exampleModal button {
        margin: 14px 0 0 !important;
    }
    .checkout_form_info textarea.form-control {
        height: 120px;
    }
    .carousel__page_product .owl-nav {
        display: none;
    }
    .col_product_content .tab-content>.tab-pane .catalog_items {
        margin-right: -230px;
    }
    .nav-tabs .nav-link {
        padding-left: 15px;
        padding-right: 15px;
        min-width: 138px;
    }
    .catalog_items {
        margin-right: -200px;
    }
    .catalog_items .owl-carousel .owl-nav button.owl-prev,
    .catalog_items .owl-carousel .owl-nav button.owl-next,
    .instagram_carousel.owl-carousel .owl-nav button.owl-prev,
    .instagram_carousel.owl-carousel .owl-nav button.owl-next {
        display: none;
    }
    .popular_product {
        padding: 20px 0;
    }
    .open_collection {
        display: flex;
    }
    .open_collection:hover {
        border-color: #BD2937;
    }
    .open_collection a:hover {
        color: #BD2937;
    }
    .col-aside {
        display: none;
        width: 100%;
    }
    .col-aside.open {
        margin-bottom: 20px;
    }
    .col-content {
        width: 100%;
        padding-left: 15px;
    }
    .table_size tr {
        overflow-x: scroll;
    }
    .table_size_items .hidden_title span {
        font-size: 18px;
    }
    .table_size_items .hidden_title span {
        display: inline-block;
        margin: 0 5px;
    }
    .hidden_title span:hover path {
        fill: #BD2937;
    }
    .col_product_content .carousel__page_product {
        padding: 0;
    }
}

@media screen and (max-width:560px) {
    .catalog_items {
        margin-right: -200px;
    }
    .section_cat_title,
    .section_cat_desc {
        /*display: none;*/
    }
    .row-cart-item .col:nth-child(4) {
        flex: 0 0 35%;
    }
    .row-cart-item .col:nth-child(2) {
        padding-bottom: 20px;
    }
    .page_construct .section_cat_title,
    .page_construct .section_cat_desc {
        display: block;
    }
    [class*=col-].w2 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cart_step~.cart_step::before {
        width: 55%;
        right: 72%;
    }
    .cart_step_ico {}
}

@media screen and (max-width:490px) {
    .col_product_content .carousel__page_product {
        padding: 0;
    }
    .single_info_line {
        position: relative;
        padding-left: 30px;
    }
    .single_info_line .ico {
        position: absolute;
        margin-right: auto;
        left: 0;
    }
    .product_size_item {
        width: 22%;
    }
    .cart_col-right {
        order: -1;
    }
    .cart_col-left,
    .cart_col-right {
        width: 100%;
        justify-content: flex-start;
    }
    .cart_col-left .link_to_cat,
    .cart_col-right .link_to_cat {
        width: 100%;
        max-width: 100%;
    }
    .cart_col-right .link_to_cat {
        margin-bottom: 80px;
    }
    .cart_footer {
        position: relative;
    }
    .bay_click {
        padding: 20px 0;
        position: absolute;
        top: -125px;
        left: 1px;
    }
    .modal-body .table-bordered td:first-child,
    .modal-body .table-bordered th:first-child {
        min-width: 105px;
    }
    body .product_wrap .product_gallery .owl-dots {
        justify-content: center;
    }
    .product_price>.product_sale_link {
        display: none;
    }
    .page_catalog .catalog_items [class*=col-] {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product_wrap .col_product_content button,
    .product-btn-add {
        width: 100%;
    }
    .product_price {
        padding: 30px 0 30px;
    }
    .product_wrap .popular_product {
        padding: 30px 0;
    }
    .col_product_params {
        padding-top: 30px;
    }
    .opt_item_attrs {}
    .delivery_item_ico svg {
        height: 80px;
    }
}

.btn_green {
    display: inline-flex;
    min-width: 290px;
    height: 56px;
    color: #fff;
    background: #66BD3A;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s linear;
    outline: none !important;
    box-shadow: none !important;
    letter-spacing: 0.7px;
    &:hover,
    &:focus {
        color: #fff;
    }
    @media screen and (max-width: 490px) {
        width: 100%;
    }
}

.product-btn-add {
    border-radius: 4px;
}

.catalog_items {
    margin: 0 -7px;
    .slick-slide {
        padding: 0 7px;
    }
    .slick-prev,
    .slick-next {
        height: 48px;
        width: 48px;
        margin-top: -24px;
        z-index: 5;
        &:before,
        &:after {
            display: none;
        }
        svg path {
            fill: #828282;
        }
        &:hover {
            svg path {
                fill: #BD2937;
            }
            svg circle {
                stroke: #BD2937;
            }
        }
        &.slick-disabled:hover {
            cursor: auto;
            svg path {
                fill: #828282;
            }
        }
    }
    .slick-prev {
        left: -80px;
    }
    .slick-next {
        right: -80px;
        transform: scale(-1, 1);
        margin-top: -48px;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        margin-top: -24px;
    }
    .owl-prev {
        left: -80px;
    }
    .owl-next {
        right: -80px;
        transform: scale(-1, -1);
    }
    @media (max-width: 1490px) {
        .slick-prev,
        .slick-next {
            svg circle {
                fill: #fff;
            }
        }
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }
    @media (max-width: 1340px) {
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    @media (max-width: 768px) {
        margin-right: -15px;
    }
}

.carousel__page_product {
    .slick-prev,
    .slick-next {
        min-width: unset;
        margin-top: -24px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
        margin-top: -48px;
    }
}

@media (max-width: 1065px) {
    .checkout_form_info {
        .button_wrap {
            .btn_silver,
            .btn_red {
                width: 100%;
            }
            .btn_silver {
                order: 2;
            }
            .btn_red {
                order: 1;
                margin-top: 0;
                margin-left: 0;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 520px) {
    .cart_col-left,
    .link_to_cat,
    .cart_col-right,
    .bay_click,
    .bay_click_link {
        width: 100%;
    }
    .link_to_cat,
    .bay_click_link {
        margin: 10px 0;
    }
}

@media screen and (max-width: 490px) {
    .bay_click {
        top: -150px !important;
    }
}