.comments_wrap {}

.comment_items {
    line-height: 130%;
}

.comment_item {
    display: flex;
    flex-wrap: wrap;
    background: #F8F4F1;
    font-size: 16px;
}

.comment_author {
    font-size: 18px;
    font-weight: 600;
    color: #181818;
}

.comment_text {}

.comment_item_content {
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}

.comment_item_img {
    width: 50%;
}

.comment_item_img img {
    width: 100%;
}

.comment_rating {
    margin: 15px 0;
}

body .comment_items.owl-carousel .owl-nav button.owl-prev,
body .comment_items.owl-carousel .owl-nav button.owl-next {
    transform: translateY(-95%);
}

body .comment_items.owl-carousel .owl-nav button.owl-next {
    transform: translateY(-95%) rotate(180deg);
}

.rating_stars {}

.rating_star {
    display: inline-block;
    cursor: pointer;
}

@media screen and (max-width:880px) {
    .comments_wrap {
        padding: 0 90px;
    }

    body .comments_wrap .owl-carousel .owl-nav button.owl-prev {
        left: -80px;
    }

    body .comments_wrap .owl-carousel .owl-nav button.owl-next {
        right: -80px;
    }
}

@media screen and (max-width:640px) {
    .comments_wrap {
        padding: 0;
    }
}

@media screen and (max-width:630px) {

    .comment_item_img,
    .comment_item_content {
        width: 100%;
    }

    .comment_item_content {
        padding: 20px;
    }

}

@media screen and (max-width:480px) {
    .comments_wrap {
        padding: 0 0px;
    }

}
