.footer {
    flex: 0 0 auto;
    margin: auto 0 0;
    padding: 80px 0 0;
    position: relative;
    background: #212D3B;
    color: #fff;
    line-height: 130%;
}

.footer li a {
    color: inherit;
    opacity: 0.5;
}

.footer li a:hover {
    text-decoration: none;
    opacity: 1;
    color: #fff;
}

.footer_logo {
    margin-bottom: 30px;
}

.footer_col_1 {
    width: 35%;
}

.footer_col_1 .social_buttons {
    margin-left: 10px;
}

.footer_col_2 {
    width: 65%;
}

.footer_menu_wrap {
    width: 33.333%;
    font-size: 16px;
    padding-top: 20px;
}

.footer_phone~.footer_phone,
.footer_phone~.footer_email {
    margin-top: 15px;
}

.footer_phone a,
.footer_email a {
    color: inherit;
}

.footer_phone,
.footer_email {
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer_menu {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 130%;
}

.footer_menu_item {
    margin-bottom: 14px;
}

.footer_addr {
    color: #fff;
    margin-right: -50px;
}

.addr_map_link {
    color: inherit;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.5;
    border-bottom: 1px solid;
    text-decoration: none;
}

.addr_map_link:hover {
    border-bottom-color: transparent;
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

.footer_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    margin-top: 107px;
}

.footer_bottom .social_buttons {
    margin-left: 0;
}

.footer_bottom .social_buttons a:hover g {
    opacity: 1 !important;
}

.copyright {
    opacity: 0.5;
}

@media(max-width: 1240px) {
    .footer_addr {
        margin-right: auto;
    }
}

@media screen and (max-width:960px) {
    .footer_col_1 .footer_col_wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_logo {
        width: 100%;
    }

    .footer_col_1 .footer_addr {
        line-height: 2;
    }

    .footer_col_1 .footer_menu_wrap,
    .footer_phones,
    .footer_menu_wrap {
        width: 50%;
    }

    .footer_col_1 .footer_menu_wrap {
        padding-top: 0;
        position: relative;
        top: -45px;
    }

    .footer_col_1 .footer_menu_title {
        margin-bottom: 12px;
    }

    .footer_col_1,
    .footer_col_2 {
        width: 100%;
    }

    .footer_col_2 {
        padding-top: 20px;
    }

    .footer_col_2 .footer_menu_wrap:last-child {
        display: none;
    }

    .footer_addr {
        margin-right: auto;
    }
}

.footer_col_1 .footer_menu_wrap {
    display: none;
}



@media screen and (max-width:630px) {

    .footer_col_1 .footer_menu_wrap,
    .footer_phones {
        width: 100%;
    }

    .footer_col_1 .footer_menu_wrap {
        top: 0;
        display: block;
        padding-top: 25px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width:560px) {}

@media screen and (max-width:320px) {

    .footer_phone,
    .footer_email {
        font-size: 16px;
    }
}
