.header {
    flex: 0 0 auto;
    padding: 50px 0 30px;
    position: relative;
    background-color: #fff;
    overflow: visible !important;
}

.header_container {
    max-width: 1670px !important;
}

.header_menu {
    margin-left: 0;
    margin-right: 0;
    height: 48px;
    background: #212D3B;
    color: #fff;
    font-size: 18px;
    flex: 0 0 auto;
    position: relative;
}

.header_menu li a {
    color: inherit;
}

.menu_link_text {}

.header_phones {
    margin-left: 5%;
    position: relative;
    top: -5px;
}

.header_phone {
    display: flex;
    width: 100%;
    color: #181818;
    font-size: 18px;
    font-weight: 600;
}

.header_phone a {
    color: #181818;
}

.header_phone a:hover {
    color: #BD2937;
}

.header_phone~.header_phone {
    margin-top: 8px;
}

.header_phone a .ico rect {
    /*fill: #181818;*/
    transition: all 0.25 linear;
}

.header_phone a:nth-child(1):hover .ico rect {
    fill: #534995;
}

.header_phone a:nth-child(2):hover .ico rect {
    fill: #2D8BC5;
}

.header_phone a:nth-child(3):hover .ico rect {
    fill: #00AD2F;
}

.header_search {
    width: 29%;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    top: -10px;
    z-index: 999;
}

.header_search .button_close {
    position: absolute;
    height: 100%;
    right: 55px;
    cursor: pointer;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: -1000;
}

.header_search .button_close.active {
    visibility: visible;
    z-index: 100;
}

.header_search .button_close:hover path {
    stroke: #BD2937;
    ;
}

.result_more {
    text-decoration: underline;
}

.header_right {
    margin-left: auto;
    margin-right: 0;
    width: 27.5%;
    display: flex;
    flex-wrap: wrap;
}

.header_right .social_buttons {
    margin-left: 0;
    top: 5px;
}

.header_right_mail {
    color: #181818;
    display: inline-block;
    margin-left: 17%;
    margin-right: auto;
    position: relative;
    top: 8px;
}

.header_right_mail:hover,
.header_phone:hover {
    color: #BD2937;
}

.header_right_mail svg path {
    transition: all 0.25s linear;
}

.header_right_mail:hover svg path {
    fill: #BD2937;
}

.header_cart_mini {
    margin-left: auto;
    margin-right: 20px;
    display: inline-block;
}

.mobile_menu {
    position: fixed;
    left: 0;
    top: -100vh;
    right: 0;
    height: 100vh;
    padding: 80px 20px 40px;
    background-color: #fff;
    transition: all 0.4s linear;
}

.mobile_menu a.current {
    color: #BD2937;
}

.mobile_menu.open {
    z-index: 5000;
    top: 0;
    transition: all 0.4s linear;
}

.mobile_menu.open.animate {
    top: -100vh;
    transition: all 0.2s linear;
}

.mobile_menu_wrap {
    text-align: center;
    max-height: 100%;
    overflow-y: scroll;
}

.mobile_menu_close {
    position: absolute;
    top: 20px;
    left: 10px;
}

.mobile_menu_ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 24px;
    font-weight: 600;
}

.mobile_menu_ul a {
    color: #181818;
}

.mobile_menu_ul a:hover {
    text-decoration: none;
}

.mobile_menu .header_phones {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.mobile_menu .header_phone {
    flex-wrap: wrap;
}

.mobile_menu .header_phone>a {
    display: block;
    width: 100%;
}

.mobile_menu .social_buttons {
    display: inline-flex;
    margin: 15px auto 15px;
}

.mobile_menu .social_buttons svg {
    width: 36px;
    height: 36px;
}

.mobile_menu .header_right_mail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    top: auto;
}

.mobile_menu_item {
    margin-bottom: 15px;
}

.result_close_popup.color-gray3:hover path {
    stroke: #BD2937;
}

.result_close_popup.color-gray3:hover {
    color: #BD2937;
}

@media screen and (max-width:1280px) {
    .header_phones {
        margin-left: 2%;
    }

    .header_phone a {
        font-size: 16px;
    }

    .header_right {
        flex-wrap: nowrap;
        width: 30%;
    }

    .header_search {
        width: 22%;
    }
}

@media(max-width: 1210px) {
    .header_right_mail {
        display: none;
    }

    .header_phone a {
        font-size: 18px;
    }

    .header_phones {
        margin-left: 4%;
    }

    .header_right {
        width: 15%;
    }

    .header_search {
        width: 30%;
    }

    .header_menu .container {
        padding: 0;
    }
}

@media screen and (max-width:999px) {
    .mobile_menu_ul a {
        padding: 10px 0;
        display: block;
    }

    .header {
        display: none;
    }

    .header_search {
        width: 40%;
    }

    .header_right {
        width: 30%;
    }

    .form_search {
        max-width: 100%;
    }

    .header_mobile {
        position: relative;
        z-index: 3333;
        padding: 17px 0;
        flex: 0 0 auto;
        background: #212D3B;
        color: #fff;
        display: block;
    }

    .header_mobile {
        order: 0;
    }

    .home_slider {
        order: 1;
    }

    .header_menu {
        order: 2;
    }

    .header_mobile .header_right {
        width: 150px;
    }

    .header_mobile .header_search {
        width: 55%;
        top: 0;
    }

    .header_mobile .form_search {
        max-width: 100%;
    }

    .header_mobile .cart_mini_link svg path {
        stroke: #fff;
    }

    .header_mobile .input_search {
        height: 48px;
    }

    .input_search_wrap {
        width: 100%;
    }

    .menu_ico {
        margin-right: 15px;
    }

    .header_logo {
        top: 5px;
        position: relative;
    }

    .header_right .social_buttons {
        top: 13px;
    }

    .header_cart_mini {
        position: relative;
        top: 5px;
    }
}

@media screen and (max-width: 999px) {
    .header_menu .container {
        padding: 0;
    }

    .header_menu .menu_item {
        width: 50%;
    }

    .header_menu .menu_item {
        display: none;
    }

    .header_menu .menu_item:nth-child(1),
    .header_menu .menu_item:nth-child(2) {
        display: block;
    }
}

@media screen and (max-width: 960px) {
    .header_mobile .header_search {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .header_right .social_buttons {
        display: none;
    }

    .header_mobile .header_right {
        width: 50px;
    }

    .header_cart_mini {
        top: 10px;
    }

    body .cart_mini_q {
        right: -10px;
    }
}

.header_search_open {
    display: none;
}

@media screen and (max-width: 640px) {}

@media screen and (max-width:560px) {
    .header_mobile .header_search {
        position: absolute;
        width: 100%;
        top: -100%;
        height: 100%;
        left: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        z-index: -100;
        transition: all 0.30s linear;
        padding: 0 20px;
    }

    .header_mobile .header_search {
        padding: 0 20px;
    }

    .header_logo {
        max-width: 150px;
    }

    body .cart_mini_q {
        right: -3px;
    }

    .header_mobile .header_search.visible {
        visibility: visible;
        opacity: 1;
        top: 74px;
        left: 0;
        z-index: 150;
        padding: 0 20px;
    }

    .popup_search_result {
        left: 0;
        background-color: #fff;
    }

    .header_search_open {
        display: block;
        position: absolute;
        right: 65px;
        top: 50%;
        transform: translateY(-38%);
    }

    .header_cart_mini {
        margin-right: 0;
        top: 5px;
    }

    .header_menu {
        font-size: 14px;
    }

    .search_result_item .ico {
        top: -2px;
    }

    .search_result_item.last {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .result_item_text {
        padding: 20px 0;
    }

    .mobile_menu_ul a {
        display: block;
        padding: 10px 0;
    }
}
