.main_section {
    flex: 0 0 auto;
    padding: 20px 0;
    position: relative;
}

.social_buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;
    position: relative;
    top: -3px;
}

.social_buttons a~a {
    margin-left: 10px;
}

.nav-tabs {
    border: 0;
    margin-bottom: 30px;
    position: relative;
}

.page-item:last-child,
.page-link.border-0 {
    margin-left: 1px;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link,
.page-item:last-child:hover .page-link,
.page-item:first-child:hover .page-link {
    border: 0;
}

.page-item:last-child:hover .page-link svg path,
.page-item:first-child:hover .page-link svg path {
    fill: #BD2937;
}

.page-item:last-child:hover .page-link svg circle,
.page-item:first-child:hover .page-link svg circle {
    stroke: #BD2937;
}

.page-item:first-child {
    margin-right: 20px;
}

.page-item:last-child {
    margin-left: 20px;
}

.navigation {
    margin-bottom: 30px;
}

.pagination .page-item:last-child,
.pagination .page-item:first-child {}

.page-link {
    line-height: 26px;
    color: #181818;
    min-width: 44px;
    text-align: center;
}

.page-item:hover .page-link {
    background: #fff;
    border: 1px solid #BD2937;
    color: #181818;
}

.page-item.active .page-link {
    background: rgba(189, 41, 55, 0.1);
    color: #BD2937;
    border: 1px solid #BD2937;
}

.pagination .page-item:last-child .pagination_ico {
    transform: rotate(180deg);
}


/* Promo
  =====================================*/

.promo_section {}

.promo {
    padding: 65px 0;
}

.promo_item {
    width: 25%;
    align-items: center;
}

.promo_ico {
    width: 85px;
}

.promo_ico svg {
    max-width: 80px;
    max-height: 80px;
}

.promo_text_wrap {
    width: calc(100% - 85px);
    padding-left: 15px;
    padding-right: 15px;
}

.promo_title {
    margin-bottom: 8px;
    display: block;
}

.promo_text {
    line-height: 1.3;
    margin-bottom: 5px;
    display: block;
}

.ico.question svg path {
    fill: #BDBDBD;
    transition: all 0.25s linear;
}

.ico.question:hover svg path {
    fill: #2D9CDB;
}

.section_title {
    margin-bottom: 20px;
}

.section_desc {
    max-width: 664px;
    margin-bottom: 30px;
}

.section_title .head_1 {
    position: relative;
    top: -2px;
}

.section_title .line {
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.section_title_link {
    font-size: 15px;
    color: #828282;
}

.section_title_link:hover {
    color: #BD2937;
}

.section_print {
    padding: 48px 0;
}

.form_search {
    width: 100%;
    max-width: 480px;
}

.input_search_wrap {
    position: relative;
}

.input_search {
    border: 1px solid #828282;
    width: 100%;
    height: 56px;
    padding: 0 15px;
    background: #F8F8F9;
    outline: none !important;
}

.button_search {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    right: 0;
    top: 0;
    cursor: pointer;
    position: absolute;
    background: none;
    border: 0;
    outline: none !important;
}

.cart_mini {
    position: relative;
}

.cart_mini_q {
    display: inline-flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #BD2937;
    top: -3px;
    right: -3px;
    position: absolute;
    line-height: 0;
    font-size: 12px;
}

.popup_search_result {
    position: absolute;
    background: #F8F8F9;
    z-index: -1000;
    width: 100%;
    margin-top: 5px;
    display: none;
}

.popup_search_result.active {
    display: block;
    z-index: 1000;
}

.search_result_items {}

.search_result_item {
    padding: 0 20px;
    position: relative;
    align-items: center;
    min-height: 41px;
}

.search_result_item:hover {
    background: rgba(189, 41, 55, 0.1);
}

.search_result_item .ico_link {
    margin-left: auto;
    margin-right: 0;
}

.result_item_text {
    display: inline-block;
    color: #181818;
}

.result_item_text:hover {
    color: #181818;
}

.popup_search_result {
    color: #181818;
}

.search_result_item .ico_link:hover path,
.button_search:hover path {
    fill: #BD2937;
}

.tooltip {
    border-radius: 10px;
}

.tooltip-inner {
    padding: 10px 20px;
}

.print_item {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 180px;
}

.print_item .img {
    position: relative;
    min-height: 100%;
    width: 100%;
}

.print_item .img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.faq_items {
    padding: 17px 0;
    max-width: 859px;
    font-size: 16px;
}

.faq_item_title {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 25px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
    margin-bottom: -1px;
    z-index: 10;
    background-color: #fff;
}

.faq_item_title.active {
    border-bottom-color: transparent;
}

.faq_item {
    position: relative;
    transition: all 0.5s linear;
}

.faq_item_text {
    padding: 15px 25px;
    max-width: 800px;
    display: none;
    /*opacity: 0;
      transition: all 0.5s linear;
      z-index: -700;
      position: absolute;
      transform: translateY(-100%);*/
}

.faq_item_title.active+.faq_item_text {
    /*display: block;
      transform: translateY(0);
      opacity: 1;
      position: relative;
      z-index: 1;*/
}

.faq_item_arrow {
    display: flex;
    width: 25px;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;
}

.faq_item_title.active .faq_item_arrow {
    transform: rotate(180deg);
}

.desc_cap_video {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 358px;
    background: #C4C4C4;
    margin-top: 35px;
    background-size: cover;
}

.video_play {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    z-index: 100;
    border-radius: 50%;
}

.desc_cap {
    padding: 60px 0;
    line-height: 1.3;
}

.desc_cap_content {
    padding-top: 50px;
    max-width: 570px;
}

.desc_cap_content .head_wrap {
    margin-bottom: 15px;
}

.comment_client {
    padding: 100px 0;
}

.comment_client .section_title {
    margin-bottom: 30px;
}

.comment_client .owl-next svg {
    transform: rotate(360deg) !important;
    display: block;
}

.on_instagram {
    padding: 140px 0 60px;
}

.on_instagram .section_title {
    margin-bottom: 35px;
}

.page_breadcrumb {
    background: none;
    padding: 0 0 10px 0;
    color: #BDBDBD;
    margin-bottom: 30px;
    margin-top: -4px;
}

.page_breadcrumb.pos_top {
    padding: 0;
    margin-top: -4px;
    margin-bottom: 20px;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #BDBDBD;
}

.page_breadcrumb a {
    color: inherit;
}

.page_breadcrumb a:hover {
    color: #181818;
}

.page_404 {
    max-width: 740px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.3;
}

.page_404_content ul {
    padding: 0;
    margin-left: 17px;
}

.page_404_img {
    margin-bottom: 75px;
}

.page_prev_wrap {
    margin-top: 25px;
    margin-bottom: 25px;
}

.page_prev_link {
    color: #2D9CDB;
    font-size: 18px;
    font-weight: 600;
}

.aside_menu {
    list-style: none;
    color: #828282;
    padding-top: 0;
    padding-left: 0;
}

.aside_menu_item {
    position: relative;
    padding: 0 12px 2px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #F2F2F2;
    transition: all 0.25s linear;
}

.aside_menu_item.open,
.aside_menu_item.current {
    border-left: 3px solid #BD2937;
    background: #F8F8F9;
    border-bottom: 0;
}

.aside_sub_menu {
    list-style: disc;
    padding-left: 17px;
    display: none;
    font-size: 15px;
}

.aside_menu_item.open .aside_sub_menu {}

.aside_sub_item {
    margin-bottom: 15px;
    margin-top: 8px;
}

.aside_menu .aside_sub_item:hover {
    color: #181818 !important;
}

.aside_menu .aside_sub_item.current {
    color: #BD2937 !important;
}

.aside_menu .aside_sub_item>a {
    color: inherit;
}

.aside_menu a {
    color: inherit;
}

.aside_menu>li:hover {
    background: #F8F8F9;
}

.aside_menu>li:hover,
.aside_menu>li:hover li:hover {
    color: #BD2937;
}

.aside_menu>li:hover li {
    color: #828282;
}

.aside_menu>li>a {
    display: flex;
    height: 44px;
    align-items: center;
    font-size: 16px;
    width: calc(100% - 25px);
}

.aside_menu>li.open>a {
    color: #BD2937;
}

.aside_menu_arrow {
    position: absolute;
    right: 15px;
    top: 16px;
    z-index: 100;
    transform: rotate(180deg);
    cursor: pointer;
}

.aside_menu_arrow path {
    fill: #BDBDBD;
}

.aside_menu_item.open .aside_menu_arrow {
    transform: rotate(0deg);
    top: 10px;
}

.aside_menu_item.open .aside_menu_arrow path,
.aside_menu_item:hover .aside_menu_arrow path {
    fill: #BD2937;
}

.aside_contact {
    font-size: 16px;
    line-height: 130%;
}

.aside_contact_title {
    font-weight: normal;
    font-size: 15px;
    color: #828282;
    margin-bottom: 5px;
}

.aside_contact_title~.aside_contact_title {
    margin-top: 20px;
}

.aside_contact_addr {}

.aside_contact_phone,
.aside_contact_email {
    color: inherit;
}

.aside_contact_phone:hover,
.aside_contact_email:hover {
    color: #BD2937;
}

.aside_contact_phone~.aside_contact_phone {
    margin-top: 5px;
}

.aside_contact_email {}

.aside_contact_phone,
.aside_contact_email {
    display: block;
}

.aside_contact_info {
    font-size: 18px;
    line-height: 1.3;
}

.aside_contact a:hover svg path {
    fill: #BD2937;
}

.aside_wrap {
    position: relative;
}

.aside_close {
    position: absolute;
}

.contact_list {
    padding: 80px 0;
    line-height: 130%;
}

.contact_item {
    margin-bottom: 70px;
}

.contact_item_text {
    padding: 10px 0;
}

.contact-desc {
    line-height: 150%;
}

.col-aside {
    flex: auto;
    max-width: 100%;
    width: 275px;
}

.col-content {
    flex: auto;
    max-width: 100%;
    padding-left: 0;
    width: calc(100% - 275px);
}

.page_construct {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.section_map {
    position: relative;
}

.section_map iframe {
    max-width: 100%;
    width: 100%;
}

.delivery_wrap {}

.delivery_items {
    font-size: 16px;
    line-height: 130%;
    padding: 40px 0;
}

.delivery_item {
    position: relative;
}

.delivery_item~.delivery_item {
    margin-top: 40px;
}

.delivery_item_title {
    margin-bottom: 10px;
}

.delivery_item_ico {
    width: 80px;
}

.delivery_item_content {
    max-width: 700px;
    width: calc(100% - 80px);
    padding-left: 20px;
}

.delivery_wrap {
    line-height: 130%;
}

.delivery_wrap.payments {
    margin-top: 15px;
}

.delivery_title {
    margin-bottom: 0px;
    margin-bottom: 20px;
}

.table_size {
    padding: 6px 0;
}

.size_table_title {
    margin-bottom: 20px;
}

.size_table_desc {
    line-height: 130%;
}

.size_table_img {
    max-width: 310px;
}

.size_table_content {
    width: calc(100% - 310px);
    padding-left: 15px;
    max-width: 720px;
}

.size_info_items {
    padding: 0px 0 20px;
}

.size_info_item {
    max-width: 520px;
}

.size_info_item~.size_info_item {
    margin-top: 20px;
}

.size_info_item .before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 0;
    font-size: 14px;
    line-height: 1;
    border-radius: 50%;
}

.size_info_item {
    position: relative;
}

.size_info_title {
    margin-bottom: 5px;
}

.size_info_title,
.size_info_title+p {
    position: relative;
    padding-left: 30px;
}

.table_size {
    th {
        text-align: center;
        &:first-child {
            text-align: left;
        }
    }
}

.table_size_items {
    line-height: 130%;
    font-size: 15px;
}

.table_size_item {
    padding: 20px 0;
}

.table_size_item~.table_size_item {
    margin-top: 45px;
}

.table_size_img {
    max-width: 245px;
}

.table_size_content {
    width: calc(100% - 245px);
    padding-left: 15px;
}

.table_size_name {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 26px;
}

.table_size table {}

.table_size th,
.table_size td {
    padding: .68rem .74rem;
}

.table_size th:first-child,
.table_size td:first-child {
    position: sticky;
    left: 0;
    background: #F8F8F9;
}

.table_size th:first-child~th,
.table_size td:first-child~td {
    text-align: center;
}

.table_size td:first-child {
    font-weight: 600;
}

.modal-dialog {
    max-width: 590px;
}

.modal {}

.modal_close {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.modal_close:hover path {
    stroke: #BD2937;
}

#sizesModal .modal-dialog {
    max-width: 900px;
}

#sizesModal .modal-body {
    padding-top: 40px;
}

[data-tabs] {
    position: relative;
}

[data-tabs-indicator] {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
    width: 0px;
    background-color: rgb(255, 87, 34);
    -webkit-transition: all .5s;
    transition: all .5s;
}

@media screen and (max-width:1269px) {
    .promo {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
    .promo_item {
        width: 50%;
        margin-bottom: 25px;
    }
    .nav-tabs {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .nav-tabs .nav-item {
        flex: none;
    }
}

@media screen and (max-width: 1180px) {
    .table_wrap {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 960px) {
    .desc_cap_content {
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .table_size_img {
        display: none;
    }
    .section_map {
        height: 300px;
    }
    #map {
        height: 100%;
    }
    #map>iframe {
        height: 100% !important;
    }
    .contact_items>.row {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .contact_item_wrap {
        flex: 0 0 230px;
        max-width: 230px;
    }
    .size_table_img,
    .size_table_content,
    .table_size_content {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .table_size td:first-child,
    .table_size th:first-child {
        min-width: 105px;
    }
    .table_size td:first-child:before,
    .table_size th:first-child:before {
        content: '';
        position: absolute;
        right: -1px;
        width: 1px;
        background: #dee2e6;
        height: 100%;
        top: 0;
        box-shadow: 2px 0 4px rgba(0, 0, 0, .08);
    }
    .table_size td:first-child:after,
    .table_size th:first-child:after {
        content: '';
        position: absolute;
        left: -1px;
        width: 1px;
        background: #dee2e6;
        height: 100%;
        top: 0;
    }
    .table_size_items .hidden_title,
    .modal-body .hidden_title {
        display: block;
        color: #4F4F4F;
        margin-bottom: 10px;
    }
    .modal-body .hidden_title {
        margin-bottom: 20px;
    }
    .table_size_items {
        font-size: 14px;
    }
    .desc_cap_img {
        padding-top: 30px;
    }
}

@media screen and (max-width: 630px) {
    .promo {
        padding: 35px 0;
    }
    .promo_item {
        width: 100%;
    }
    .section_print {
        padding: 25px 0;
    }
    .nav-tabs {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .desc_cap,
    .comment_client {
        padding: 20px 0;
    }
    .desc_cap_img {
        padding-top: 20px;
    }
    .print_item {
        width: 50%;
    }
    .head_1 {
        font-size: 24px;
    }
    .instagram_items {
        margin-right: -200px;
    }
}

@media screen and (max-width:560px) {
    .font_size_big {
        font-size: 32px;
    }
    .carousel-item-wrap {
        font-size: 15px;
    }
    .delivery_item_content,
    .delivery_item_ico {
        width: 100%;
        padding-left: 0;
    }
    .delivery_item_ico {
        margin-bottom: 20px;
    }
    .delivery_item_ico img {
        margin: 0;
    }
    .button_search {
        width: 50px;
        background: #2D9CDB;
    }
    .button_search path {
        fill: #fff;
    }
    .header_search .button_close {
        right: 65px;
    }
}

@media screen and (max-width:480px) {
    .section_faq .head_1 {
        max-width: 70%;
    }
    .section_title {
        display: block;
    }
    .pagination_ico {
        display: block;
        width: 44px;
        height: 44px;
    }
    .page-item:first-child {
        margin-right: 0px;
    }
    .page-item:last-child {
        margin-left: 1px;
    }
    .section_title>* {
        display: inline;
        vertical-align: middle;
    }
    .section_title .line {
        margin-left: 5px;
        margin-right: 5px;
    }
    .page-item:nth-child(4),
    .page-item:nth-child(6) {
        display: none;
    }
}

.tab_line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #BD2937;
    transition: .25s;
}

.aside-back,
.aside_sub_menu_back {
    display: none;
}

@media(max-width: 767px) {
    .aside_sub_menu_back {
        height: 44px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-weight: 600;
        font-size: 18px;
        color: #2D9CDB !important;
        background: #F8F8F9;
    }
    .aside_sub_menu_back img {
        margin-right: 10px;
    }
    .aside_menu_item.open .aside_sub_menu {
        left: 0 !important;
    }
    .aside_sub_menu {
        width: 100%;
        background: white;
        z-index: 3;
        padding-left: 0;
        list-style: none;
    }
    .aside_sub_menu .aside_menu_link {
        display: flex;
        height: 44px;
        align-items: center;
        font-size: 16px;
        width: 100%;
        padding: 0 20px;
    }
    .aside_sub_menu .aside_sub_item {
        margin: 0;
    }
    .aside_sub_menu .aside_sub_item:nth-child(2n-1) {
        background: #F8F8F9;
    }
    .aside-back {
        height: 44px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-weight: 600;
        font-size: 18px;
        color: #2D9CDB;
        background: #F8F8F9;
    }
    .aside-back img {
        margin-right: 10px;
    }
    .tab_line {
        display: none !important;
    }
    .col-aside {
        position: fixed;
        top: -100vh;
        width: 100%;
        height: calc(100vh - 82px) !important;
        left: 0;
        display: block !important;
        z-index: 2;
        padding: 0;
        background: white;
        transition: .25s;
        overflow: hidden;
    }
    .aside-open {
        overflow: hidden;
    }
    .col-aside.open {
        top: 82px;
    }
    .col-aside.open.active {
        top: 0;
    }
    .col-aside.open.active {
        height: 100vh;
    }
    .col-aside.open.active .aside_sub_menu {
        top: 0;
        height: 100vh;
    }
    .col-aside.open .aside_sub_menu {
        position: fixed;
        top: 82px;
        left: 100%;
        height: calc(100vh - 82px);
    }
    .aside_menu_item {
        position: relative;
    }
    .aside_sub_menu {
        transition: .25s;
    }
    .aside_menu_arrow {
        transform: rotate(90deg) !important;
        z-index: 1;
        top: 12px;
    }
    .aside_menu_arrow path {
        fill: black;
    }
    .aside_menu_item.open .aside_menu_arrow path,
    .aside_menu_item:hover .aside_menu_arrow path {
        fill: black;
    }
    .aside_menu_item.open,
    .aside_menu_item.current {
        border-left: none;
        background: transparent;
    }
    .aside_menu_item {
        border-bottom: none;
        border-left: none;
    }
    .aside_menu_item:nth-child(2n) {
        background: #F8F8F9;
    }
    .aside_menu a {
        color: #181818;
    }
    .aside_menu>li.open>a {
        color: #181818;
    }
    .aside_sub_menu {
        display: block;
    }
}

@media(max-width: 560px) {
    .col-aside {
        height: calc(100vh - 70px) !important;
    }
    .aside_sub_menu {
        top: 74px;
        height: calc(100vh - 74px);
    }
    .col-aside.open {
        top: 74px;
    }
}

#sizesModal .size_table_title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 26px;
}

.form-group label.error {
    color: #BD2937;
    position: absolute;
    font-size: 12px;
}

.product-quantity-disabled {
    margin-left: 36px;
}

.-is_city {
    position: relative;
    &::before {
        content: 'г. Борисов,';
        display: block;
        position: absolute;
        height: 48px;
        line-height: 48px;
        left: 0;
        z-index: 2;
    }
}

.show-init {
    opacity: 0;
    &.-is-show {
        opacity: 1;
        transition: opacity 0.5s;
    }
}

.product-slider-nav {
    display: flex;
    flex-wrap: wrap;
    .item {
        width: 115px;
        border: 2px solid transparent;
        margin-right: 14px;
        margin-top: 14px;
        cursor: pointer;
        &:nth-child(4n) {
            margin-right: 0;
        }
        &.-is-current {
            border-color: #BD2937;
        }
    }
}