.menu {
    position: relative;
}

.menu_wrap,
.menu_child_wrap {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_inline {
    display: flex;
    flex-wrap: wrap;
}

.menu_inline a,
.menu_inline a:hover {
    text-decoration: none;
}

.menu_wrap>li>a {
    padding: 0 25px;
    display: flex;
    align-items: center;
    min-height: 48px;
}

.menu_wrap>li:nth-child(2)~li:hover>a {
    color: #56CCF2;
}

.menu_wrap>li:first-child>a.bg-red {
    border-right: 1px solid;
    padding-left: 15px;
    padding-right: 15px;
}

.menu_wrap>li>a.bg-red {
    width: 220px;
    justify-content: center;
}

.menu_wrap>li>a.bg-red:hover {
    background: #A91523;
}

.menu_inline .menu_child {
    position: absolute;
    padding: 15px;
    background-color: #ddd;
    z-index: -30;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    color: #181818;
}

.menu_inline>li:hover .menu_child {
    visibility: visible;
    z-index: 30;
    opacity: 1;
}

.menu_ico {
    display: inline-flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

/*.menu_ico > *{
    width: 100%;
    height: 2px;
    background-color: #444;
    margin: 3px 0;
    transition: all 0.25s linear;
  }
  .menu_ico:hover > :nth-child(2){
    width: 95%;
  }
  .menu_ico:hover > :nth-child(3){
    width: 85%;
  }
  .menu_ico:hover > :nth-child(4){
    width: 75%;
  }*/
.menu_link_ico {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    margin-right: 10px;
}

@media screen and (max-width:1250px) {
    .menu_wrap>li>a.bg-red {
        width: 200px;
    }

    .menu_wrap>li>a {
        padding: 0 15px;
    }

    .menu_wrap>li:first-child>a.bg-red {
        padding-left: 12px;
        padding-right: 12px;
        width: 210px;
    }
}

@media(max-width: 1099px) {
    .menu_wrap>li>a {
        padding: 0 12px;
    }
}

@media screen and (max-width: 1023px) {
    .menu_wrap>li>a.bg-red {
        width: 100%;
    }

    .menu_wrap>li>a {
        padding: 0 10px;
    }
}

@media(max-width: 999px) {
    .menu_wrap>li:first-child>a.bg-red {
        width: 100%;
    }

    .cart_mini_q {
        border-color: #212D3B !important;
    }
}
