.quick-success {
    padding-top: 68px 40px 60px;
    &__wrapper {
        max-width: 400px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 30px;
    }
}

.vacation {
    padding: 60px 40px 50px;
    &__wrapper {
        max-width: 320px;
        margin: 0 auto;
    }
    .btn_red {
        min-width: 120px;
    }
}