.home_slider {
    flex: 0 0 auto;
}

.home_slider_wrap {
    height: 480px;
    position: relative;
    overflow: hidden;
}

.carousel-caption {
    max-width: 410px;
}

.carousel-item-title {
    line-height: 1.2;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.slider_link {
    position: relative;
    display: block;
}

.carousel-item-wrap {
    left: 0;
    top: 63%;
    bottom: auto;
    transform: translateY(-73%);
    font-size: 18px;
    line-height: 1.3;
}

.slider_link img {
    max-height: 480px;
}

.home_slider {
    .carousel-item {
        height: 480px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        .container {
            height: 100%;
        }
        .slider_link {
            height: 100%;
        }
    }
}

.carousel-indicators {
    align-items: center;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 1;
    border: 0;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.carousel-indicators li.active {
    background: #BD2937;
    opacity: 1;
    border: 0;
    width: 12px;
    height: 12px;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
    transition: all 0.25s linear;
}

.carousel-control-next {
    transform: rotate(180deg);
    right: 14px;
}

.carousel-control-prev {
    left: 14px;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: 1;
}

.home_slider svg circle {
    stroke: #E0E0E0
}

.owl-carousel .owl-nav button.owl-prev circle,
.owl-carousel .owl-nav button.owl-next circle {
    stroke: #828282;
}

.owl-carousel .owl-nav button.owl-prev.disabled circle,
.owl-carousel .owl-nav button.owl-next.disabled circle {
    stroke: #E0E0E0;
}

.home_slider svg path {
    fill: #E0E0E0
}

.owl-carousel .owl-nav button.owl-prev path,
.owl-carousel .owl-nav button.owl-next path {
    fill: #828282;
}

.owl-carousel .owl-nav button.owl-prev.disabled path,
.owl-carousel .owl-nav button.owl-next.disabled path {
    fill: #E0E0E0;
}

svg circle,
svg path {
    transition: all 0.25s linear;
}

.carousel-control-next:hover svg circle,
.carousel-control-prev:hover svg circle,
.owl-carousel .owl-nav button.owl-prev:hover circle,
.owl-carousel .owl-nav button.owl-next:hover circle {
    stroke: #BD2937;
}

.carousel-control-next:hover svg path,
.carousel-control-prev:hover svg path,
.owl-carousel .owl-nav button.owl-prev:hover path,
.owl-carousel .owl-nav button.owl-next:hover path {
    fill: #BD2937;
}

@media screen and (max-width:1670px) {
    .carousel-control-prev {
        left: -50px;
    }
    .carousel-control-next {
        right: -50px;
    }
}

@media screen and (max-width:1480px) {
    .home_slider_wrap {
        .container {
            padding: 0 90px;
        }
    }
    /* .carousel-control-prev {
        left: -130px;
    }
    .carousel-control-next {
        right: -130px;
    } */
}

@media screen and (max-width:1360px) {
    .home_slider_wrap {
        height: auto;
    }
}

@media screen and (max-width:980px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
    .carousel-item-wrap {
        transform: translateY(-50%);
        top: 50%;
    }
    .home_slider_wrap {
        .container {
            padding: 0 15px;
        }
    }
}

@media screen and (max-width:768px) {
    .slider_link img {
        min-height: 400px;
    }
}

@media screen and (max-width:560px) {}

.product-slider-nav {
    .slick-track {
        margin: 0;
    }
    .slick-slide {
        width: 115px !important;
        height: 115px;
        margin-right: 15px;
        border: 2px solid #E0E0E0;
        &.slick-current {
            border-color: #BD2937;
        }
    }
}

.comment_items {
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
    }
    .owl-prev {
        left: -80px;
    }
    .owl-next {
        right: -80px;
    }
}

.instagram_items {
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        margin-top: -24px;
    }
    .owl-prev {
        left: -80px;
    }
    .owl-next {
        right: -80px;
        transform: scale(-1, -1);
    }
}

@media screen and (max-width: 490px) {
    .js-slider-filtered-products {
        .slick-arrow {
            display: none;
        }
    }
}

@media (max-width: 850px) {
    .product-slider {
        .item img {
            display: block;
            margin: 0 auto;
        }
        .slick-dots li {
            margin: 0 4px;
            width: auto;
            button {
                width: 8px;
                height: 8px;
                padding: 0;
                border-radius: 50%;
                background: #E0E0E0;
                margin: 0;
                &:before {
                    display: none;
                }
            }
        }
        .slick-dots li.slick-active button {
            width: 12px;
            height: 12px;
            background: #BD2937;
            border-radius: 50% !important;
        }
    }
    .product-slider-nav {
        display: none !important;
    }
    .product_cat.lg-show,
    .product_name.lg-show {
        display: none;
    }
}

@media (min-width: 851px) {
    .product_cat.sm-show,
    .product_name.sm-show {
        display: none;
    }
}
