.field-order{width:55px!important;padding:0 3px;height:30px;text-align:center;margin:0 5px}.paint-view{position:absolute;background:url(../images/admin/bg1.png) no-repeat;background-size:contain;background-position:50%;border:1px solid red}