@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5c5i4c');
  src:  url('fonts/icomoon.eot?5c5i4c#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5c5i4c') format('truetype'),
    url('fonts/icomoon.woff?5c5i4c') format('woff'),
    url('fonts/icomoon.svg?5c5i4c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconRight3:before {
  content: "\e94f";
}
.icon-2 .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-2 .path2:before {
  content: "\e901";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-2 .path3:before {
  content: "\e902";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-2 .path4:before {
  content: "\e903";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-2 .path5:before {
  content: "\e904";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-2 .path6:before {
  content: "\e905";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-2 .path7:before {
  content: "\e906";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-2 .path8:before {
  content: "\e907";
  margin-left: -4.6318359375em;
  color: rgb(67, 128, 239);
}
.icon-2 .path9:before {
  content: "\e908";
  margin-left: -4.6318359375em;
  color: rgb(244, 72, 59);
}
.icon-2 .path10:before {
  content: "\e909";
  margin-left: -4.6318359375em;
  color: rgb(0, 169, 89);
}
.icon-2 .path11:before {
  content: "\e90a";
  margin-left: -4.6318359375em;
  color: rgb(255, 191, 51);
}
.icon-check:before {
  content: "\e90b";
  color: #66bd3a;
}
.icon-footer_logo .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path2:before {
  content: "\e90d";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path3:before {
  content: "\e90e";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path4:before {
  content: "\e90f";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path5:before {
  content: "\e910";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path6:before {
  content: "\e911";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path7:before {
  content: "\e912";
  margin-left: -4.6318359375em;
  color: rgb(255, 255, 255);
}
.icon-footer_logo .path8:before {
  content: "\e913";
  margin-left: -4.6318359375em;
  color: rgb(67, 128, 239);
}
.icon-footer_logo .path9:before {
  content: "\e914";
  margin-left: -4.6318359375em;
  color: rgb(244, 72, 59);
}
.icon-footer_logo .path10:before {
  content: "\e915";
  margin-left: -4.6318359375em;
  color: rgb(0, 169, 89);
}
.icon-footer_logo .path11:before {
  content: "\e916";
  margin-left: -4.6318359375em;
  color: rgb(255, 191, 51);
}
.icon-hoodie:before {
  content: "\e917";
  color: #4f4f4f;
}
.icon-hoodie2:before {
  content: "\e918";
  color: #4f4f4f;
}
.icon-iconAll:before {
  content: "\e919";
}
.icon-iconBurger:before {
  content: "\e91a";
  color: #fff;
}
.icon-iconBurger2:before {
  content: "\e91b";
}
.icon-iconBurger3:before {
  content: "\e91c";
}
.icon-iconCard2:before {
  content: "\e91d";
  color: #9d9d9d;
}
.icon-iconCart:before {
  content: "\e91e";
}
.icon-iconCatalog:before {
  content: "\e91f";
  color: #fff;
}
.icon-iconClose:before {
  content: "\e920";
}
.icon-iconDis:before {
  content: "\e921";
  color: #4f4f4f;
}
.icon-iconInstagram .path1:before {
  content: "\e922";
  color: rgb(139, 19, 202);
}
.icon-iconInstagram .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-iconInstagram .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(139, 19, 202);
}
.icon-iconInstagram .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-iconInstagram .path5:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(139, 19, 202);
}
.icon-iconInstagram .path6:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-iconInstagram2:before {
  content: "\e928";
  color: #fff;
}
.icon-iconKonstructor:before {
  content: "\e929";
  color: #fff;
}
.icon-iconLogo .path1:before {
  content: "\e92a";
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path2:before {
  content: "\e92b";
  margin-left: -4.6318359375em;
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path3:before {
  content: "\e92c";
  margin-left: -4.6318359375em;
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path4:before {
  content: "\e92d";
  margin-left: -4.6318359375em;
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path5:before {
  content: "\e92e";
  margin-left: -4.6318359375em;
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path6:before {
  content: "\e92f";
  margin-left: -4.6318359375em;
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path7:before {
  content: "\e930";
  margin-left: -4.6318359375em;
  color: rgb(33, 45, 59);
}
.icon-iconLogo .path8:before {
  content: "\e931";
  margin-left: -4.6318359375em;
  color: rgb(67, 128, 239);
}
.icon-iconLogo .path9:before {
  content: "\e932";
  margin-left: -4.6318359375em;
  color: rgb(244, 72, 59);
}
.icon-iconLogo .path10:before {
  content: "\e933";
  margin-left: -4.6318359375em;
  color: rgb(0, 169, 89);
}
.icon-iconLogo .path11:before {
  content: "\e934";
  margin-left: -4.6318359375em;
  color: rgb(255, 191, 51);
}
.icon-iconMail:before {
  content: "\e935";
}
.icon-iconPillow:before {
  content: "\e936";
  color: #4f4f4f;
}
.icon-iconPrints:before {
  content: "\e937";
  color: #2d9cdb;
}
.icon-iconQuestion:before {
  content: "\e938";
  color: #2d9cdb;
}
.icon-iconRight:before {
  content: "\e939";
}
.icon-iconRight2:before {
  content: "\e93a";
  color: #2d9cdb;
}
.icon-iconSearch:before {
  content: "\e93b";
  color: #828282;
}
.icon-iconVK:before {
  content: "\e93c";
  color: #4e7fb5;
}
.icon-iconVK2:before {
  content: "\e93d";
  color: #fff;
}
.icon-mug-1-1:before {
  content: "\e93e";
  color: #4f4f4f;
}
.icon-Polygon-14:before {
  content: "\e93f";
  color: #bd2937;
}
.icon-Polygon-22:before {
  content: "\e940";
  color: #c4c4c4;
}
.icon-Star-1:before {
  content: "\e941";
}
.icon-Star:before {
  content: "\e942";
  color: #f1c644;
}
.icon-Star-3:before {
  content: "\e943";
  color: #f1c644;
}
.icon-Telegram .path1:before {
  content: "\e944";
  color: rgb(65, 159, 217);
}
.icon-Telegram .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-thermo-1:before {
  content: "\e946";
}
.icon-Viber .path1:before {
  content: "\e947";
  color: rgb(103, 93, 169);
}
.icon-Viber .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Viber .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Viber .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Viber .path5:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Viber .path6:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-WhatsApp .path1:before {
  content: "\e94d";
  color: rgb(13, 193, 67);
}
.icon-WhatsApp .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
